<main role="main" class="inner cover">
  <h1 class="cover-heading">Bem vindo.</h1>
  <p class="lead">O desenvolvimento de software não deve ser um processo secreto, quando eu assumo um novo projeto, pretendo não só entregar um produto bem feito, mas também garantir que cada etapa do processo seja totalmente integrado.</p>
  <p class="lead">
    <%= link_to "Sobre Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>